*{
    padding: 0%;
    margin: 0%;
     color: white; 
}

body{
    background-color: rgb(212, 33, 113);
    
}
nav{
    height: 60px;
    background-color:  rgb(141, 134, 182); 
   
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               
}
a{
    margin-right: 10%;
    text-decoration: none;
    font-size: x-large;
    

}
 #head{ 
    color: white;
    background-color: rgb(141, 134, 182);
}
.body{
    color: black;   
      background-color: rgb(141, 134, 182);
}
/* #form{
    background-color:teal
} */
#paragraf{
   font-family: Arial, Helvetica, sans-serif;
}
