body{
    background-color: cadetblue;
    
}
nav{
    color: rgb(12, 28, 128);
    background:whitesmoke;

}
.Myprojects{
    color: green;
}
#head{
    color: white;
    background-color: darkslateblue;
}
.body{
    color: black;
    background-color: greenyellow;
}
#form{
    background-color:teal
}